<template>
	<div>
		<div v-if="frame != undefined">
			<Frame />
		</div>
	</div>
</template>

<script>
	import {gql} from 'graphql-request'
	import {graphQLClient} from '/utils/graphql-client';

	export default {
		data: () => ({
					id: null,
					frame: null
				}),
		methods: {
			setState(frame, id) {
				console.log("set state method")
				console.log('frame', frame)
				this.$store.dispatch('setStateFromFrame', frame, id)
			}
		},
    mounted() {
		  console.log('FRAME MOUNTED')
		  this.$store.dispatch('setOverlay', false)
    },
		asyncData (context) {
			const id = context.params.id

			return { id }

		},
		async fetch () {
			console.log("Fetching data")
			const query = gql`
				query FindAFrameByID($id: ID!) {
					findFrameByID(id: $id) {
						turn
						score1
						score2
						continue_break
						red_on
						color_on
						last_color_ball_on
						balls1
						balls2
						fouls1
						fouls2
						breaks1
						breaks2
					}
				}
			`;

			try {
				const token = this.$cookiz.get('token')
				this.$graphql.default.setHeader('authorization', `Bearer ${token}`);

				await this.$graphql.default
						.request(query, { id: this.id })
						.then((data) => {
							console.log("Fetched data", data)
							console.log("The id", this.id)
							this.frame = data.findFrameByID
							this.$store.dispatch('setStateFromFrame', {frame: this.frame, frame_id: this.id})
						})
			} catch(e) {
				console.log(e)
        this.$router.push('/')
			}
		}

	}
</script>
