<template>
	<div class="container">
		<h1>All Frames </h1>
		<v-row v-for="frame in frames" :key="frame.id">
			<v-col>
				<a :href="`/frame/${frame.id}`">
					Frame {{frame.id.slice(14)}}
				</a>
			</v-col>
			<v-col>{{frame.data.player_1_name || 'N/A'}}</v-col>
			<v-col :class="['col-1', frame.data.score1 > frame.data.score2 ? 'green' : 'red']">{{frame.data.score1}}</v-col>
			<v-col :class="['col-1', frame.data.score2 > frame.data.score1 ? 'green' : 'red']">{{frame.data.score2}}</v-col>
			<v-col>{{frame.data.player_2_name || 'N/A'}}</v-col>
			<v-col>
				<v-btn class="error" v-on:click="frame_delete(frame.id)">
					<span>Delete</span>
				</v-btn>
			</v-col>
		</v-row>

		<v-row>
			<v-col class="col-9">
				<v-btn v-if="before" class='btn btn-primary' v-on:click="load('before')">Prev</v-btn>
			</v-col>
			<v-col class="col-1">
				<v-btn v-if="after" class='btn btn-primary' v-on:click="load('after')">Next</v-btn>
			</v-col>
		</v-row>
	</div>
</template>

<script>
	import {query as q} from 'faunadb';
	import {gql} from 'graphql-request';
	import {authClient} from '/utils/fauna-client';
	import {graphQLClient} from '/utils/graphql-client';

	export default {
		data: () =>({
					frames: [],
					cursor: null,
					before: null,
					after: null,
				}),
		async mounted() {
			console.log("Fetching data")
			const token = this.$cookiz.get('token');

			if(!token) {
				alert('Login to continue')
				return this.$router.push('/login')
			}

			this.fetch_data()
		},
		methods: {
			async frame_delete (frame_id) {
				console.log('Frame to be deleted', frame_id)
				this.$store.dispatch('setOverlay', true)
				

				const mutation = gql`
			      mutation DeleteAFrame($id: ID!) {
			        deleteFrame(id: $id) {
			          _id
			        }
			      }
			    `;

			    const token = this.$cookiz.get('token')

			    try {
			    	await graphQLClient(token).request(mutation, {id: frame_id})
			    			.then(() => {
			    				console.log("Frame deleted")
			    				window.location.reload(true)
			    			})
			    } catch(e) {
			    	console.log(e.message)
			    }
			},
			async fetch_data(cursor) {
				const token = this.$cookiz.get('token');

				if(!token) {
					alert('Login to continue')
					return this.$router.push('/login')
				}

				try {
					const filter = {size: 10}

					if (cursor == "after" && this.after) filter['after'] = this.after
					if (cursor == "before" && this.before) filter['before'] = this.before

					const allFrames = await authClient(token).query(
						q.Map(
						  q.Paginate(q.Match(q.Index("sort_frame_by_ts_desc")), filter),
						  q.Lambda(['ts', 'ref'], q.Get(q.Var('ref')))
						)
					)

					this.frames = allFrames.data.map((data) => ({data: data.data, id: data.ref.id}))
					this.after = allFrames.after && allFrames.after[0]
					this.before = allFrames.before && allFrames.before[0]
				} catch(e) {
					console.log(e)
				}
			},
			load(cursor) {
				console.log("Loading data")
				this.fetch_data(cursor)
			}
		}
	}
</script>

