<template>
	<div>
		<v-main>

      <v-row class="justify-center mt-2 mb-5" :style="{width: '100%'}">
        <v-dialog
          v-model="dialog"
          persistent
          max-width="600px"
          height="400px"
          @click:outside="dialog = false"
        >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
          >
            Edit Players
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">User Profile</span>
          </v-card-title>
          <v-card-text>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <v-text-field
                    label="First Player name*"
                    v-model="first_player_name"
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <v-text-field
                    label="Second Player name*"
                    v-model="second_player_name"
                    hint="example of helper text only on focus"
                  ></v-text-field>
                </v-col>
              </v-row>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="saveNames()"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      </v-row>

      <v-card class="mb-5 d-sm-none">
        <v-row :style="{width: '100%'}">
          <v-col class="pl-5">{{first_player_name}}</v-col>
          <v-col :class="['col-2', this.$store.state.score1 > this.$store.state.score2 ? 'green' : 'red']">
            {{this.$store.state.score1}}
          </v-col>
          <v-col :class="['col-2', this.$store.state.score2 > this.$store.state.score1 ? 'green' : 'red']">{{this.$store.state.score2}}</v-col>
          <v-col>{{second_player_name}}</v-col>
        </v-row>
      </v-card>


      <v-container :style="{minHeight: '0px', display: 'block' }">
        <v-row
          v-on:swiped="swipe()"
          v-touch="{
            left: () => swipe(),
            right: () => swipe()
          }"
        >
            <ScoreBoard
            v-bind:score="this.$store.state.score1"
            :player="1"
            :playerName="first_player_name"
            :selected="this.$store.state.turn == 1"
            v-bind:breaks="this.$store.state.breaks1"
            v-on:click.native="switch_to_player(1, $event)"
            />

            <ScoreBoard
            v-bind:score="this.$store.state.score2"
            :player="2"
            :playerName="second_player_name"
            :selected="this.$store.state.turn == 2"
            v-bind:breaks="this.$store.state.breaks2"
            v-on:click.native="switch_to_player(2)"
            />
        </v-row>

        <v-row class="justify-center d-sm-none d-flex" v-bind:style="{margin: '20px'}">
          <v-btn v-on:click="swipe()">Switch Player</v-btn>
        </v-row>

        <v-row>
          <br>
          <v-col cols="4">
            <v-row class="justify-center d-flex">
              <v-col class="justify-center d-flex">
                <v-btn class="red-ball red m-3" v-bind:class="this.$store.state.red_on ? 'ball-on' : 'no-ball-on'" value=1 fab small v-on:click="pot(1)">1</v-btn>
              </v-col>
            </v-row>
            <v-btn fab small
            class="color-ball yellow"
            v-bind:class="this.$store.state.color_on ? 'ball-on' : 'no-ball-on'"
            v-on:click="pot(2)">{{2}}</v-btn>
            <v-btn fab small
            class="color-ball green"
            v-bind:class="this.$store.state.color_on ? 'ball-on' : 'no-ball-on'"
            v-on:click="pot(3)">{{3}}</v-btn>
            <v-btn fab small
            class="color-ball brown"
            v-bind:class="this.$store.state.color_on ? 'ball-on' : 'no-ball-on'"
            v-on:click="pot(4)">{{4}}</v-btn>
            <v-btn fab small
            class="color-ball blue"
            v-bind:class="this.$store.state.color_on ? 'ball-on' : 'no-ball-on'"
            v-on:click="pot(5)">{{5}}</v-btn>
            <v-btn fab small
            class="color-ball pink"
            v-bind:class="this.$store.state.color_on ? 'ball-on' : 'no-ball-on'"
            v-on:click="pot(6)">{{6}}</v-btn>
            <v-btn fab small
            class="color-ball black"
            v-bind:class="this.$store.state.color_on ? 'ball-on' : 'no-ball-on'"
            v-on:click="pot(7)">{{7}}</v-btn>
          </v-col>
          <v-col cols="3">
            <v-btn class="foul grey" v-for="f in fouls" :key="f.key" v-on:click="foul(f.point)">Foul {{f.point}}</v-btn>
          </v-col>
          <v-col>
            <Toggle label="Color ball turn" :checked="this.$store.state.last_color_ball_on"
              v-on:updateChecked="last_color_ball_on"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
	</div>
</template>

<script>
	import ScoreBoard from './ScoreBoard.vue';
	import Toggle from './Toggle.vue';
	import Frame from './Frame.vue';

	export default {
		name: 'Frame',
		components: {
		    ScoreBoard,
		    Toggle
		  },
		data: () => ({
		//
    first_player_name: "Player 1",
    second_player_name: "Player 2",
    dialog: false,
		drawer: false,
		colors: ["yellow", "green", "brown", "blue", "pink", "black"],
		fouls: [
		  {point: 4, key: "foul-4"},
		  {point: 5, key: "foul-5"},
		  {point: 6, key: "foul-6"},
		  {point: 7, key: "foul-7"}
		],
		color_ball_on: false
		}),
		methods: {
  		switch_player() {
  		  this.$store.dispatch('switch_players')
  		},
  		switch_to_player(player) {
  		  if (player != this.$store.state.turn) this.$store.dispatch('switch_to_player', player)
  		},
  		pot(point) {
  		  this.$store.dispatch('pot', point)
  		},
  		foul(point) {
  		  this.$store.dispatch('foul', point)
  		},
  		last_color_ball_on(event) {
  		  this.$store.dispatch('last_color_ball_on', event)
  		},
  		swipe() {
  		  this.$store.dispatch('switch_players')
  		},
      saveNames() {
        this.$store.dispatch("saveNames", {player1: this.first_player_name, player2: this.second_player_name})
        this.dialog = false
      }
		}
		}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
