<template>
	<div>
	    <v-app-bar
	      dark
	      prominent
	      src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
	    >
	      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>


	      <v-btn href='/' color='primary'>
	      	<span class="d-none d-sm-flex">Snooker Marker</span>
	      	<v-icon>mdi-billiards</v-icon>
	      </v-btn>

	      <v-spacer></v-spacer>

	      <v-btn href='/frame' v-show="authenticated()" :style="{alignSelf: 'flex-end'}" id="my-frame">
	      	<span>My Frames</span>
	      </v-btn>

	      <v-btn
          id="signup"
          href='/signup'
          v-show="!authenticated()"
          color='primary mx-3'
          :style="{alignSelf: 'flex-end'}">
	      	<span class="d-none d-sm-flex">Sign UP</span>
	      	<v-icon>mdi-account-plus</v-icon>
	      </v-btn>

	      <v-btn
          id="login"
	      	v-show="!authenticated()"
	      	href='/login'
	      	color='primary mx-3'
	      	:style="{alignSelf: 'flex-end'}"
	      	>
	      	<span class="d-none d-sm-flex">Login</span>
	      	<v-icon>mdi-account-arrow-right</v-icon>
	      </v-btn>

	      <v-btn
	      	v-show="authenticated()"
	      	v-on:click="logout"
	      	color='red mx-3'
          id="logout"
	      	:style="{alignSelf: 'flex-end'}">
	      	<span class="d-none d-sm-flex">Logout</span>
	      	<v-icon>mdi-account-arrow-left</v-icon>
	      </v-btn>

	      <v-btn
          id="online"
          v-show="authenticated()"
          color='primary mx-3'
          v-on:click="createNewFrame"
          :style="{alignSelf: 'flex-end'}">
	      	<span class="d-none d-sm-flex">Online</span>
	      	<v-icon>mdi-wifi</v-icon>
	      </v-btn>

	      <v-btn v-show="!authenticated()" href='/game' color='red' :style="{alignSelf: 'flex-end'}" >
	      	<span class="d-none d-sm-flex">Offline</span>
	      	<v-icon>mdi-wifi-off</v-icon>
	      </v-btn>
	    </v-app-bar>

	    <v-navigation-drawer
	      v-model="drawer"
	      absolute
	      bottom
	      temporary
	      :style="{minWidth: '50%'}"
	    >
	        <Toggle label="Color ball turn" :checked="this.$store.state.last_color_ball_on"
	          v-on:updateChecked="last_color_ball_on"
	        />
	    </v-navigation-drawer>

	    <v-progress-circular
	      indeterminate
	      color="primary"
	      id="progress-circle"
	      :size = 100
	      :class=" this.$store.state.overlay ? '' : 'd-none'"
	      :style="{marginLeft: '50%'}"
	    ></v-progress-circular>
	    <v-overlay :value="this.$store.state.overlay"></v-overlay>
  </div>
</template>

<script>
	import Toggle from './Toggle';
	import { authClient } from '../utils/fauna-client';
	import {graphQLClient} from '../utils/graphql-client';
	import {gql} from 'graphql-request';
	import {query as q} from 'faunadb';
	import Cookies from 'js-cookie';

	export default {
		name: 'NavBar',
		components: {
		    Toggle
		},
		data: () => ({
			drawer: false,
		}),
		methods: {
			authenticated() {
				return (this.$cookiz.get('token') != undefined)
			},
			last_color_ball_on(event) {
		      this.$store.dispatch('last_color_ball_on', event)
		    },
      async remote_logout() {
        const token = Cookies.get('token')
        if(!token) console.log('already logged out')

        try {
          await authClient(token).query(q.Logout(false));
          Cookies.remove('token');
        } catch(e) {
            throw new Error(e.message)
        }
      },
      async logout() {
        this.$store.dispatch('setOverlay', true)
        try {
          await this.remote_logout()
        } catch(e) {
          console.log(e.message)
        }
        this.$store.dispatch('setOverlay', false)

        this.$router.push('/')
      },
      async user() {
	      const token = this.$cookiz.get('token');

	      if (!token) {
	        return alert('Auth cookie not found');
	      }

	      try {
	        const { ref, data } = await authClient(token).query(q.Get(q.Identity()));
	        return ({ ...data, id: ref.id });
	      } catch (error) {
	        console.error(error);
	        return alert(error.message);
	      }
	    },
      async createNewFrame() {
		    	console.log("Creating new frame")
		    	const token = this.$cookiz.get('token')

		    	this.$store.dispatch('setOverlay', true)

		    	if(!token) {
            console.log('Login to continue')
            this.$router.push('/')
          }

		    	try {
		    		const { ref, data } = await authClient(token).query(q.Get(q.Identity()));
		    		const query = gql`
		    			mutation createAFrame($owner: ID!) {
		    				createFrame(data: {
		    					turn: 1,
		    					score1: 0,
		    					score2: 0,
		    					owner: {connect: $owner},
		    					continue_break: false,
		    					balls1: [],
								balls2: [],
								fouls1: [],
								fouls2: [],
								breaks1: [],
								breaks2: [],
								red_on: true,
								color_on: false,
								last_color_ball_on: false,
								player_1_name: "Player 1",
								player_2_name: "Player 2"
		    				}) {
		    					_id
		    					turn
		    					score1
		    					score2
		    					continue_break
		    					red_on
		    					color_on
		    					last_color_ball_on
		    					balls1
								balls2
								fouls1
								fouls2
								breaks1
								breaks2
		    				}
		    			}
		    		`
		    		let id, frame;
		    		this.user()
		    		.then(data => (id=data.id))
		    		.then(async () => {
			    		frame = await graphQLClient(token).request(query, { owner: id })
			    		console.log("Frame created", frame)
		    		})
		    		.then(() => {
		    			this.$router.push(`/frame/${frame.createFrame._id}`)
		    		});
		    	} catch(e) {
		    		console.log(e.message)
		    	}
		    }
		}
	}
</script>
