<template>
  <v-col sm="6" xs="12" :class="selected ? 'selected':'not-selected'">
    <div class="score-board justify-center d-flex">
      <v-card>
        <v-img
        height="125"
        width="125"
        src="https://lh3.googleusercontent.com/syLMlruHCv2NZcEB8Ga8nsZvGr7Br51rkG7KMP842jTvfXfb3opt3oQfrRxYt1zwWsYUHSlzXx4sX5ikN82xfLz7cE0knDgGQbigLGj7nCqyxrtH2pke6OHsVqUOvymx2lCh7Gqxnw=w2400"
      ></v-img>
      <v-card-title> {{playerName}} score is {{ score }} </v-card-title>

      <div v-if="breaks.length >= 1">
        <h3>Break</h3>
        <div v-for="(pots, points) in resolve_breaks(breaks[breaks.length-1])" :key=points class="point-ball" :class="get_color(points)">
        {{pots}}
      </div>
      </div>

      <!-- <input type="file" @change="onFileChange"/> -->

      <!-- <div v-for="(b, index) in breaks" :key=index>
        <h3>Break {{index + 1}}</h3>
        <div v-for="(pots, points) in resolve_breaks(b)" :key=points class="point-ball" :class="get_color(points)">
          {{pots}}
        </div>
      </div> -->
    </v-card>
  </div>
</v-col>
</template>

<script>
export default {
  name: 'ScoreBoard',
  props: {
    player: Number,
    score: Number,
    selected: Boolean,
    breaks: Array,
    playerName: String
  },
  methods: {
    resolve_breaks(b) {
      var counts = {};
      for (var i = 0; i < b.length; i++) {
          counts[b[i]] = 1 + (counts[b[i]] || 0);
      }

      return counts
    },
    get_color(point) {
      switch(parseInt(point)) {
        case 1:
          return 'red'
        case 2:
          return 'yellow'
        case 3:
          return 'green'
        case 4:
          return 'brown'
        case 5:
          return 'blue'
        case 6:
          return 'pink'
        case 7:
          return 'black'
        default:
          return 'grey'
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.score-board {
  border-style: solid;
  border-color: white;
}
.selected {
  border: red;
  border-style: solid;
}

@media screen and (max-width: 600px) {
  .not-selected {
    display: none;
  }
}
</style>
