<template>
  <div class="container form-container">
    <h1>This is the signup page</h1>

    <form
      @submit.prevent="signup"
      :style="{width: '50%', marginLeft:'auto',marginRight: 'auto'}">
      <v-text-field
        v-model="name"
        label="Name"
        :rules="[()=>(!!name || 'This field is required')]"
        required
      ></v-text-field>
      <v-text-field
        v-model="email"
        label="E-mail"
        :rules="[()=>(!!email || 'This field is required')]"
        required
      ></v-text-field>
      <v-text-field
        type="password"
        v-model="password"
        :rules="[()=>(!!password || 'This field is required')]"
        label="Password"
        required
      ></v-text-field>
      <v-text-field
        type="password"
        v-model="passwordConfirmation"
        label="Password Confirmation"
        :rules="[() => (!!passwordConfirmation || 'This field is required'), passwordMatch]"
        required
      ></v-text-field>

      <v-btn
        class="mr-4"
        type="submit"
      >
        submit
      </v-btn>
    </form>
  </div>
</template>

<script>
import { query as q } from 'faunadb';
import { guestClient } from '/utils/fauna-client';

export default {
  name: "SignupForm",
  data: {
    nameErrors: null,
    emailErrors: null,
    passwordErrors: null,
    errorMessages: null
  },
  methods: {
    async signup() {
      this.$store.dispatch('setOverlay', true)

      const name = this.name
      const email = this.email
      const password = this.password
      const passwordConfirmation = this.passwordConfirmation

      console.log(this.errorMessages)

      if(this.errorMessages) {
        return console.log("There are errors", this.errorMessages)
      }

      if (!email || !password) {
        alert('Email and Password not provided');
      }

      try {
        const existingEmail = await guestClient.query(
          // Exists returns boolean, Casefold returns normalize string
          q.Exists(q.Match(q.Index('user_by_email'), q.Casefold(email)))
        );

        if (existingEmail) {
          alert(`Email ${email} already exists`);
        }

        const user = await guestClient.query(
          q.Create(q.Collection('User'), {
            credentials: { password },
            data: { name, email },
          })
        );

        if (!user.ref) {
          alert('user ref is missing');
        }

        const auth = await guestClient.query(
          q.Login(user.ref, {
            password,
          })
        );

        if (!auth.secret) {
          alert('auth secret is missing');
        }

        // if auth secret is present then sign up is success
        this.$store.dispatch('authenticate')

        this.$cookiz.set('token', `${auth.secret}`, {
          path: '/',
          maxAge: 8 * 60 * 60
        })
        this.$router.push('/')

        // res.status(200).end();
      } catch (error) {
        console.error(error);
      }
    },
    passwordMatch() {
      this.errorMessages = (this.password == this.passwordConfirmation) ? null : 'Password and confimration must match'
      return this.errorMessages
    }
  }
}
</script>
