<template>
	<div>
		<a class="twitter-timeline" href="https://twitter.com/BBCSnooker?ref_src=twsrc%5Etfw">Tweets by BBCSnooker</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</template>

<script>
	export default {
		name: 'Tweets'
	}
</script>
