.color-ball {
    border-radius: 50%;
    color: white !important;
    height: 45px !important;
    margin: 3px;
    transition: visibility 1s, opacity 0.5s;
}

.v-main {
  position: relative !important;
}

.red-ball {
    border-radius: 50%;
    color: white !important;
    height: 90px !important;
    width: 90px !important;
    margin: 3px;
    transition : visibility 0.3s, opacity 0.3s;
}

.ball-on {
  transition: opacity 0.3s ease-out;
  opacity: 1;
}

.no-ball-on {
  width: 0px;
  height: 0px !important;
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.point-ball {
  border-radius: 50%;
  height: 25px !important;
  width: 25px !important;
  margin: 1px;
  color: white;
  text-align: center;
  float: left;
}

.foul {
  margin: 3px;
}

.red {
  background-color: red;
}

 button.v-btn.yellow {
  background-color: #f5dc00 !important;
}

button.green {
  background-color: green;
}
button.brown {
  background-color: brown;
}
button.blue {
  background-color: blue;
}
button.v-btn.pink {
  background-color: #e480a2 !important;
}
button.black {
  background-color: black;
}