<template>
	<div class="container">
		<h1>This is the Landing Page.</h1>

		<Tweets />
	</div>
</template>

<script>
  export default {
    mounted() {
      console.log("Landing Page Mounted")
      this.$store.dispatch('setOverlay', false)
    }
  }
</script>
