<template>
	<div class="container form-container">
		<h1>This is the Login page</h1>

		<form
			@submit.prevent="login"
			:style="{width: '50%', marginLeft:'auto',marginRight: 'auto'}">
		    <v-text-field
		      v-model="email"
		      label="E-mail"
		      :rules="[() => (!!email || 'Email is required')]"
		      required
		    ></v-text-field>
		    <v-text-field
		      type="password"
		      v-model="password"
		      label="Password"
		      :rules="[() => (!!password || 'Password is required')]"
		      required
		    ></v-text-field>

		    <v-btn
		      class="mr-4"
		      type="submit"
		    >
		      submit
		    </v-btn>
		</form>
	</div>
</template>

<script>
	import { query as q } from 'faunadb';
	import { guestClient } from '/utils/fauna-client';

	export default {
		middleware: 'authenticate',
		data: () => ({
					email: null,
					password: null
				}),
		methods: {
			async login() {
			  this.$store.dispatch('setOverlay', true)
				const email = this.email
				const password = this.password


				if (!email || !password) {
					return console.log('Email and Password not provided');
				}

				try {
				    const auth = await guestClient.query(
				      q.Login(q.Match(q.Index('user_by_email'), q.Casefold(email)), {
				        password,
				      })
				    );

				    if (!auth.secret) {
				      return console.log('auth secret is missing');
				    }

				    // if auth secret is present then sign up is success
					this.$store.dispatch('authenticate')

					this.$cookiz.set('token', `${auth.secret}`, {
						path: '/',
						maxAge: 8 * 60 * 60
					})

					this.$router.push('/')
				} catch (error) {
					console.error(error);
				}
			}
		}
	}
</script>
